<div class="bottom">
  <div class="container relative">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">

        <div class="footer-links">
          <a href="/privacy-policy">Privacy Policy</a>
          © 2025 Blue Pin Studio

          {% if site.bottom.show_rss_icon %}
            &nbsp;
            <a class="feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
              <i class="fas fa-feed"></i>
            </a>
          {% endif %}
        </div>

      </div>

      {% if site.darkmode.enable_dark_mode and site.darkmode.show_dark_mode_toggle_in_bottom %}
        <div class="col-auto">
          {% include framework/dark-mode-switcher.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
